p {
          text-align: center;
          }
#umaimagem {

           width: 100%;
}


body {

}
em strong {
color: #000000;
}
h1 {
text-align: center
}
#missao {
 font-size: 20px
}
.itens {
  font-style: italic
}
.beneficios {
background: #FFFFFF
}
.principal {
background: #931B1B
}
h2 {
text-align: center;
}
