p {
          text-align: center;
          }
#umaimagem {

           width: 100%;
}


body {

}
em strong {
color: #000000;
}
h1 {
text-align: center
}
#missao {
 font-size: 20px
}
.itens {
  font-style: italic
}
.beneficios {
background: #FFFFFF
padding: 20px;
}
.principal {
background: #931B1B;
padding: 30px;
}
h2 {
text-align: center;
}
ul {
display: inline-block;
        vertical-align: top;
        width: 20%;
                  margin-right: 15%;
}
.imagembeneficios {
width : 50%;
}
